body {
    font-family: 'Inknut Antiqua';
}

nav {
    margin: 0 auto;
    margin-left: 10px;
    height: 400px;
    padding: 2px;
}

p {
    margin-left: 400px;
}

nav h1 {
    font-size: 50px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0); 
}


.flecha {
    display: inline-block;
    padding: 10px 20px;
    font-size: 40px;
    color: black;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.flecha:hover {
    transform: translateX(-9px); 
}
