body {
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.titulo h1 {
    margin-top: 4vh;
    justify-content: center;
    display: flex;
    color: white;
    font-family: 'Inknut Antiqua';
    font-size: 7vh;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

#eu {   
    display: flex;
    justify-content: center;
}
.descricao {
    color: white;
    font-family: sans-serif;
    font-size: 2vh;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.flecha {
    margin-top: 10vh;
    display: inline-block;
    padding: 1vw;
    font-size: 4vh;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 1px 1px rgb(0, 0, 0);
    width: 100%;
}

.flecha:hover {
    transform: translateX(-9px);
}

body {
    margin: 0;
    overflow: hidden;
    background: #237396;
}

.bolha {
    position: absolute;
    bottom: -100px;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    animation: subir 10s linear infinite;
}

.bolha:nth-child(1) {
    left: 10%;
    animation-delay: 0s;
    width: 30px;
    height: 30px;
}

.bolha:nth-child(2) {
    left: 25%;
    animation-delay: 2s;
    width: 50px;
    height: 50px;
}

.bolha:nth-child(3) {
    left: 40%;
    animation-delay: 4s;
    width: 20px;
    height: 20px;
}

.bolha:nth-child(4) {
    left: 60%;
    animation-delay: 1s;
    width: 45px;
    height: 45px;
}

.bolha:nth-child(5) {
    left: 75%;
    animation-delay: 3s;
    width: 35px;
    height: 35px;
}

.bolha:nth-child(6) {
    left: 90%;
    animation-delay: 5s;
    width: 25px;
    height: 25px;
}

@keyframes subir {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0.6;
    }

    100% {
        transform: translateY(-110vh) scale(1.2);
        opacity: 0;
    }
}