body {
  font-family: 'Inknut Antiqua';
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to bottom, #1ca4ce 0%, #367e88 100%);
  height: 100vh;
}

.peixe {
  position: absolute;
  top: 50%;
  left: -200px;
  font-size: 60px;
  animation: nadar 12s linear infinite;
  z-index: -2;
  transform: translateY(-50%);
}

.img-peixe {
  height: auto;
  width: 8vw;
}

@keyframes nadar {
  0% {
    left: -200px;
  }

  100% {
    left: 110vw;
  }

}

.bolha {
  position: absolute;
  bottom: -100px;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  animation: subir 10s linear infinite;
}


.bolha:nth-child(2) {
  left: 25%;
  animation-delay: 2s;
  width: 50px;
  height: 50px;
}

.bolha:nth-child(3) {
  left: 40%;
  animation-delay: 4s;
  width: 20px;
  height: 20px;
}

.bolha:nth-child(4) {
  left: 60%;
  animation-delay: 1s;
  width: 45px;
  height: 45px;
}

.bolha:nth-child(5) {
  left: 75%;
  animation-delay: 3s;
  width: 35px;
  height: 35px;
}

.bolha:nth-child(6) {
  left: 90%;
  animation-delay: 5s;
  width: 25px;
  height: 25px;
}

@keyframes subir {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.6;
  }

  100% {
    transform: translateY(-110vh) scale(1.2);
    opacity: 0;
  }
}

.flecha {
  padding: 1vw;
  font-size: 4vh;
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 1px 1px rgb(0, 0, 0);
}

.flecha:hover {
  transform: translateX(-9px);
}
