* {
    font-family: 'Inknut Antiqua';
    background-color: #D9D9D9;
}

.flexivel {
    display: flex;
}

.menu {
    font-size: 20px;
    margin-top: 50px;
}

.navbar a {
    text-decoration: none;
}

.navbar ul {
    list-style: none;
}

.imagem img {
    height: 100px;
    font-weight: 100px;
}