body {
    font-family: 'Inknut Antiqua';
    background-color: #d9d9d9;
    background-image: url("../img/Vinland-Saga-4_3.png");
}

h1 {
    font-size: 50px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);    
    margin-bottom: 0px;
    margin-left: 40px;
}



img {
    height: 100px;
    
}

.menu-imagem {
    display: flex;
    align-items: flex-start;
    max-height: 468px;
  }


  .navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }
  
  .navbar li {
   font-size: 30px;
   transition: all 0.3s;
  }

  .navbar li:hover {
    transform: scale(1.2);
   }
  
  .navbar a {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px gray;
    transition: 2s;
    transform: scale(1.40);
  }

  .espada-removebg-preview {
    height: 100px; 
    margin-top: 10px;
  }